body{
	font-family: 'Noto Sans TC', sans-serif;
}

h1,h2,h3,h4,h5,h6{
	font-family: 'Noto Sans TC', sans-serif;
}


h1{
	font-size: 6rem;
	line-height:7rem; 
}

.subheading{
	font-family: 'Noto Sans TC', sans-serif;
}

.bg-primary{
    background-color: #007399!important;
    background-image: url("https://www.transparenttextures.com/patterns/notebook.png");
}

.text-primary{
	font-family: 'Quicksand', sans-serif;
}

table{
	text-align: center;
	width: auto;
}

td:nth-child(1){
	text-align: left;
	padding-right: 2rem;
}

.card-body{
	padding: 2rem;
}

td:nth-child(4){
	padding: 2rem;
}